body {
	padding-top: 40px;
	background-color: #303030;
	background-image: url('/../images/sharp.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

header {
	height: 100vh;
}

.mylink strong{
	font-size: 20px;
}

.navbar-collapse {
	margin-top: 20px;
	margin-right: 20px !important;
}

h1 {
	text-align: center;
	font-size: 120px;
	position: relative;
	top: 30%;
	color: white;
}

#title, #subtitle {
	display: none;
}

.navbar {
	background-color: transparent;
	border-color: transparent;
}

.navbar-nav a {
	color: white !important;
	font-size: 16px !important;
}

.navbar-inverse .navbar-collapse{
	border-color: transparent !important;
}

.projects {
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.projects h2, p {
	color: white;
}

#projtabs {
	margin-top: 20px;
}

.experience {
	margin-top: 60px;
}

.experience p {
	color: white;
}

h2 {
	text-align: center;
	color: white;
	font-size: 32px;
	margin-bottom: 24px;
}

.tab-content img {
	width: 100%;
	max-height: 700px;
}

.tab-content p {
	margin-top: 15px;
}

h4 {
	text-align: center;
	color: white;
}

.back-to-top {
	font-size: 16px;
	float: right;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 40px;
	margin-top: 20px;
}

.navbar-toggle {
	border-color: white !important;
}

.about {
	margin-top: 70px;
}

.about h4 {
	font-size: 20px;
}

.about p {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

.contact {
	margin-top: 80px;
}

.contact span {
	position: relative;
	left: 25%;
}

.contact p {
	display: inline-block;
	color: white;
}

.contact-info {
	margin-top: 30px;
	text-align: center;
}

.contact strong {
	color: white;
}

label {
	color: white;
}

ol {
	position: relative;
	display: block;
	margin: 10px;
	height: 4px;
	background: #29242A;
}
ol::before,
ol::after {
	content: "";
	position: absolute;
	top: -8px;
	display: block;
	width: 0;
	height: 0;
  	border-radius: 10px;
	border: 10px solid #29242A;
}
ol::before {
	left: -5px;
}
ol::after {
	right: -10px;
	border: 10px solid transparent;
	border-right: 0;
	border-left: 20px solid #29242A;
  	border-radius: 3px;
  	z-index: -1;
}

ol > li {
	top: -80px;
	display: inline-block;
	width: 150px;
	transform: rotate(-45deg);
	font-size: 18px;
	color: white;
}

#event1 {
	position: relative;
	left: 5%;
}

#event2 {
	position: relative;
	left: 10%;
}

#event3 {
	position: relative;
	left: 35%;
}


ol > li::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -29px;
	display: block;
	width: 6px;
	height: 6px;
	border: 4px solid white;
	border-radius: 5px;
	background: #eee;
	color: white;
}

.details {
	display: none;
	width: 300px;
	position: absolute;
	left: -50px;
	top: 10px;
	padding: 15px;
	border-radius: 3px;
	border-right: 2px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(0,0,0,.1);
	-webkit-transform: rotate(45deg); /*Chrome, IE*/
    -webkit-transform-origin: 5px 5px; 
    transform-origin: 5px 5px; /*Firefox*/
    transform: rotate(45deg);
	font: 12px arial;
	background: #fff;
}
.details::before {
	content: "";
	position: absolute;
	left: 10px;
	top: -9px;
	display: block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
}


ol > li:hover {
	cursor: pointer;
}
ol > li:hover::before {
	top: 1px;
	left: -31px;
	width: 16px;
	height: 16px;
	border-width: 4px;
	border-radius: 8px;
	border-color: #29242A;
}
ol > li:hover .details {
	display: block;
  	color: #444;
  	z-index: 10;
}

.topline {
	margin-top: 100px;
}

.year {
	float: left;
	width: 33.3333333%;
	font-size: 18px;
	z-index: -1;
}

.nav-tabs > li > a {
	color: white;
}

.contact-link:hover {
	text-decoration: underline;
	text-decoration-color: white;
}

.timeline {
	margin-left: 10px;
	margin-right: 10px;
}

.year-container {
	margin-left: 10px;
	margin-right: 10px;
}

h3 {
	text-align: center;
	color: white;
	position: relative;
	top: 40%;
	font-size: 55px;
}

.about .col-md-6 {
	margin-top: 40px;
}

.panel {
	margin-left: 15px;
	margin-right: 15px;
}

.company_property {
	text-align: center;
}

.exp-desc, .time {
	font-size: 14px;
}

.exp-desc-container {
	margin-top: 5px;
}

.information {
	font-size: 16px;
}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 80px;
	}
	h3 {
		font-size: 40px;
	}
}
