#title{
	color: #0c76e8;
	font-size: 30px;
}

body { 
	background-color: white;
	font-family: Arial;
}

#container {
	background-color: white;
	width: 800px; 
	margin-left: auto;
	margin-right: auto;
	padding: 15px; 
}
#subtitle{
	font-size: 35px;
	color: #0c76e8;
	text-align: center;
}

#header { 
	background-color: white; 
	padding: 0px;
	text-align: center;
}

#main{
	background-color: white;
}

ul {
	background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
	text-align: center;
}

li {
    display: inline;
}

a { 
	color: #0c76e8;
	font-size: 20px;
	text-decoration: none;
	margin-left: 10px;
}

ul a:hover{
	color: #ffa200;
}

.introduction{
	margin-top: 35px;
}

.introduction p{
	font-size: 18px;
	text-decoration: bold;
	margin-top: 10px;
}

h2 {
	text-align: center;
	margin-top: 40px;
	color: #0c76e8;
}

.cpcontent h3 {
	color: #ffa200;
	text-align: center;
}

.pp1content h3 {
	margin-top: 20px;
	color: #ffa200;
	text-align: center;
}

.pp2content h3 {
	margin-top: 35px;
	color: #ffa200;
	text-align: center;
}

.pp3content h3 {
	margin-top: 35px;
	color: #ffa200;
	text-align: center;
}

.link p {
	text-decoration: none;
	color: #0c76e8;
	text-align: right;
}

.link p a:hover{
	color: #ffa200;
}


.displayed {
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contentabout p {
	margin-left: auto;
	margin-right: auto;
}

#email p{
	text-align: center;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 25px;
    text-decoration: none;
    color: #0c76e8;
    background-color: white;
    font-size: 20px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
	color: #ffa200;
}
