#title{
	color: #0c76e8;
	font-size: 30px;
}

body { 
	background-color: white;
	font-family: Arial;
}

#container {
	background-color: white;
	width: 800px; 
	margin-left: auto;
	margin-right: auto;
	padding: 15px; 
}
#subtitle{
	font-size: 25px;
	color: #0c76e8;
	text-align: center;
}

#header { 
	background-color: white; 
	padding: 0px;
	text-align: center;
}

#main{
	background-color: white;
}

ul {
	background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
	text-align: center;
}
li {
    display: inline;
}

a { 
	color: #0c76e8;
	font-size: 20px;
	text-decoration: bold;
}

#introduction{
	margin-top: 30px;

}

p{
	margin-top 10px;
}


#footer {
	clear: both;
	background-color: #d7dee0;
	text-align: right;
}